/* Reset default styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container styles */
.container {
    display: flex;
    flex: 1;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: white;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px;
    transition: background-color 0.3s, padding-left 0.3s;
}

nav a:hover {
    background-color: #575757;
    padding-left: 20px;
}

/* Main content styles */
main {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* Orders container styles */
.orders-container {
    padding: 20px;
}

/* Add order form styles */
.add-order-form input[type="number"],
.add-order-form input[type="text"],
.add-order-form button,
.add-order-form select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-order-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-order-form button:hover {
    background-color: #0056b3;
}

/* Dropdown menu styles */
.add-order-form select {
    background-color: white;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.add-order-form select:focus {
    outline: none;
    border-color: #007bff;
}

/* Order styles */
.order {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: calc(55%);
}

/* Order info styles */
.order-info {
    margin-bottom: 15px;
}

/* Search bar styles */
#search {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Bill details styles */
#bill-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

#bill-content p {
    margin: 5px 0;
    font-size: 16px;
}
